.ember-cli-bar-view-grid {
  > div.ember-cli-bar {
    display: grid;
    overflow: hidden;
    white-space: nowrap;
    margin: 2px 0;
    cursor: pointer;
    grid-template-columns: 100px 1fr;
  }

  .bar-label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
  }
  .bar-value {
    margin-right: 5px;
    vertical-align: middle;
    overflow: visible;
  }
  .not-selected {
    .ember-cli-bar-bg {
      background: #E2E2E2;
      color: #000000;
    }
  }
  .ember-cli-bar-bg {
    background: #025196;
    font-size: 10px;
    text-align: right;
    color: #fff;
  }
}
